#canvas-wrap {
    position:relative;
    width:750px;
    height: 450px;
}

#overlay {
    position:absolute;
    top:50px;
    left:100px;
    width:500px;
    background: aliceblue;
    opacity:0.8;

    text-align: center;
}

input#input-username{
    border: none;
    border-color: transparent;
    background: transparent;
    outline: none;
    font-size: 4em;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

h1#headline{
    text-align: center;
    font-size: 120px;
    color: #55c22b; font-family: "Great Vibes", cursive; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff;
}

.highlight-score{
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

ul#scores-list{
    width:200px;
    margin-left: 20px;
    padding: 0;
    font-size:large;
}

ul#scores-list span{
    display: inline-block;
}


.blink {
  animation: blinker 0.5s linear 2;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
